<mat-sidenav #sidenav class="filters">
  <h2>Filter Addresses By:</h2>
  <mat-radio-group [(ngModel)]="filter" (change)="selectFilter()">
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        By Last Sale Price
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-radio-button (click)="sidenav.close()" value="">With Sale Price</mat-radio-button>
      <mat-radio-button (click)="sidenav.close()" value="">Without Sale Price</mat-radio-button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        By Owner
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-radio-button (click)="sidenav.close()" value="regex,OWNER_NAME_PRIMARY,LLC">With LLC</mat-radio-button>
      <mat-radio-button (click)="sidenav.close()" value="not,OWNER_NAME_PRIMARY,LLC">Without LLC</mat-radio-button>
  </mat-expansion-panel>
</mat-radio-group>
</mat-sidenav>
<div class="sidenav-bar">
  <button type="button" mat-button (click)="sidenav.open()">
    <i class="material-icons">filter_list</i>
  </button>
</div>
